---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

//form styles
/* Add your styles here */
form {
        display: flex;
        justify-content: center;
        font-family: inherit;
}
.innerform {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        border: black;
        border-style: solid;
        border-radius: 6px;
        padding: 16px;
        gap: 16px;
        text-align: center;
        font-size: 16px;
}
.formlabel {
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap:16px;
}
.checkbox {
        display: flex;
flex-direction: column;       
flex-wrap: wrap;
gap: 8px;
margin-left: auto;
}
input {
        font-weight: 400;
}
//end form styles