<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">SEO My Biz has everything you need to supercharge your business with SEO- whether you want to add SEO to an existing website, or build a new website entirely from scratch! We make Search Engine Optimization our business, so you can focus on yours. No strings attached!</p>
                <a href="#" class="btn btn-default btn-xl">Unleash the Power of SEO!</a>
            </div>
        </div>
    </div>
</section>
