<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Powerful SEO for Your Business</h1>
            <hr>
            <p>SEO My Biz can help drive more traffic to your business and help your website stand out from the competition. We enhance and build better websites using Search Engine Optimization! Simply contact us to supercharge your website with SEO, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
