<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
               <!-- <a href="#" class="portfolio-box"> Change <a> to <div> of same class-->
                <div class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="cardoverlay">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Plans
                            </div>
                            <div class="project-title">
                                Basic Plan
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Basic Plan
                            </div>
                            <div class="plan-details">
                                <ul>
                                    <li>Local / Regional Focus</li>
                                    <li>Keyword Research (50-100 Keywords)</li>
                                    <li>Analytics Setup & Configuration</li>
                                    <li>Monthly Strategy Discussion</li>
                                    <li>Title Tag & Meta Tag Creation</li>
                                    <li>Internal Link Building (Crosslinking)</li>
                                    <li>Content Editing & Optimization</li>
                                    <li>Basic On-Site Optimization</li>
                                    <li>Competitor Analysis</li>
                                    <li>Monthly Custom Report</li>
                                    <li>Monthly Review Call</li>
                            </ul>
                        </div>
                        </div>
                    </div>
               <!---</a> remove </a> and replace with </div>-->
            </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <!-- <a href="#" class="portfolio-box"> Change <a> to <div> of same class-->
                <div class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="cardoverlay">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Plans
                            </div>
                            <div class="project-title">
                                Business/Enterprise Plan
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Business/Enterprise Plan
                            </div>
                            <div class="plan-details">
                                <ul>
                                    <li>Competitive Keywords / Nationwide Focus</li>
                                    <li>Keyword Research (500+ Keywords)</li>
                                    <li>Analytics Setup & Configuration</li>
                                    <li>Monthly Strategy Discussion</li>
                                    <li>Title Tag & Meta Tag Creation</li>
                                    <li>Technical SEO - (Robots.txt, Sitemap, etc.)</li>
                                    <li>Speed Optimization / Image Optimization</li>
                                    <li>Internal Link Building (Crosslinking)</li>
                                    <li>Content Creation, Optimization & Editing</li>
                                    <li>Advanced On-Site / Code Optimization</li>
                                    <li>Competitor Analysis</li>
                                    <li>Offsite Link Building</li>
                                    <li>Conversion Optimization</li>
                                    <li>A/B Variation Testing</li>
                                    <li>Heat Map / Usability Reports</li>
                                    <li>Monthly Custom Report</li>
                                    <li>Monthly Personalized Review Call</li>
                                </ul>
                            </div>
                        </div>
                    </div>
               <!---</a> remove </a> and replace with </div>-->
            </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <!-- <a href="#" class="portfolio-box"> Change <a> to <div> of same class-->
                <div class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="cardoverlay">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Plans
                            </div>
                            <div class="project-title">
                                Small Site Mini-Plan
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Plans
                            </div>
                            <div class="project-name">
                                Small Site Mini-Plan
                            </div>
                            <div class="plan-details">
                                <ul>
                                    <li>Analytics Setup & Configuration</li>
                                    <li>Monthly Keyword Audit</li>
                                    <li>Title Tag & Meta Tag Creation</li>
                                    <li>Technical SEO - (Robots.txt, Sitemap, etc.)</li>
                                    <li>Some On-Page Optimization</li>
                                    <li>Internal Link Building (Crosslinking)</li>
                                    <li>Content Creation, Optimization & Editing</li>
                                    <li>Monthly Custom Report</li>
                                    <li>Monthly Personalized Review Call</li>
                                </ul>
                            </div>
                        </div>
                    </div>
               <!---</a> remove </a> and replace with </div>-->
            </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <!-- <a href="#" class="portfolio-box"> Change <a> to <div> of same class-->
                <div class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="cardoverlay">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                One-Time Services
                            </div>
                            <div class="project-title">
                                Site Audits
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Site Audits
                            </div>
                            <div class="plan-details">
                                <col>
                                <ul> Basic Audit
                                    <li>Task Lists for Developers</li>
                                    <li>Content Recommendations</li>
                                    <li>Reporting on Priority Website Changes</li>
                                    *Cost will be applied to purchase of any package
                                </ul>
                            </col>
                            <col>
                                <ul> Enhanced Audit
                                    <li>Technical SEO audit</li>
                                    <li>Page Speed + Core Web Vitals</li>
                                    <li>Content Audit</li>
                                    <li>Top Pages SEO Audit</li>
                                    <li>Competition Analysis</li>
                                    <li>Links Audit</li>
                                    <li>Detailed Report with Findings, Recommendations, Priorities</li>
                                    *Cost will be applied to purchase of 3+ month package
                                </ul>
                            </div>
                        </div>
                    </div>
               <!---</a> remove </a> and replace with </div>-->
            </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <!-- <a href="#" class="portfolio-box"> Change <a> to <div> of same class-->
                <div class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Add-Ons
                            </div>
                            <div class="project-name">
                                Content Package
                            </div>
                        </div>
                    </div>
               <!---</a> remove </a> and replace with </div>-->
            </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <!-- <a href="#" class="portfolio-box"> Change <a> to <div> of same class-->
                <div class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Add-Ons
                            </div>
                            <div class="project-name">
                                Conversion Optimization Package
                            </div>
                        </div>
                    </div>
               <!---</a> remove </a> and replace with </div>-->
            </div>
            </div>
        </div>
    </div>
</section>
