<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>SEO</h3>
                    <p class="text-muted">We work to understand your business inside and out to craft the most effective SEO strategy for your website.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Web Design</h3>
                    <p class="text-muted">We can upgrade your existing website, or build a new one from scratch, and supercharge it with the power of SEO!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Communication</h3>
                    <p class="text-muted">Frequent communicaion with regular updates means you're never left in the dark about what's going on.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Site Health</h3>
                    <p class="text-muted">We continuously monitor your site- making improvements and performing ongoing maintenance to keep it healthy!</p>
                </div>
            </div>
        </div>
    </div>
</section>
